.login-container {
  overflow: hidden;

  .login-form {
    float: right;
    margin-top: 60px;
    margin-right: 60px;
    padding: 50px 100px 80px;
    background-color: white;

    --input-width: 330px;
    --input-line-height: 32px;
    // redleaf bug
    --form-label-width: 0;

    .submit {
      width: 330px;
      line-height: 32px;
    }

    .title {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
