(function (window, undefined) {
  // defines
  const logMethod = {
    xhr: sendXhr,
    img: sendImg,
    beacon: sendBeacon,
  };

  const cache = {};
  const lcName = '${lcName || '__newleaf_log_cache__'}';
  const lc = window.localStorage || {
    setItem: function (name, val) {
      cache[name] = val;
    },
    getItem: function (name) {
      return cache[name];
    },
    removeItem: function () {
      delete cache[name];
    }
  };

  // events
  window.addEventListener('error', function (e) {
    const { message, stack } = e.error;
    newleaf.log({
      content: JSON.stringify({
        message,
        stack
      }),
      type: 'error'
    })
  });

  window.addEventListener('unhandledrejection', function (e) {
    const { message, stack } = e.reason;
    newleaf.log({
      content: JSON.stringify({
        message,
        stack
      }),
      type: 'error'
    })
  });

  // body
  function Newleaf() {
    this.appId = '${appId}';
    this.logUrl = '${logUrl}';
    if (navigator.sendBeacon) {
      this.method = 'beacon';
    } else {
      this.method = 'img';
    }
  }

  Newleaf.prototype.log = function ({ type = 'log', content = '', method, logUrl, appId, cache = true }) {
    // 有内容才发送
    if (content) {
      // 默认缓存再发送
      cache ? save({
        method: method || this.method,
        logUrl: logUrl || this.logUrl,
        appId: appId || this.appId,
        content,
        type
      }) : logMethod[method || this.method](logUrl || this.logUrl, {
        appId: appId || this.appId,
        content,
        type
      });
    }
  };

  if (window.newleaf) {
    throw new Error('variable name \`newleaf\` has existed');
  } else {
    window.newleaf = new Newleaf();
  }

  // utils
  function save(info) {
    const data = JSON.parse(lc.getItem(lcName) || '[]');
    data.push(info);
    lc.setItem(lcName, JSON.stringify(data));
  }

  function sendBeacon(url, data) {
    navigator.sendBeacon(url, new URLSearchParams(data).toString());
  }

  function sendXhr(url, data) {
    const xhr = new XMLHttpRequest();
    xhr.open('POST', url);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify(data));
  }

  function sendImg(url, data) {
    const img = new Image();
    img.src = \`\${url}?\${new URLSearchParams(data).toString()}\`
  }

  function getRandTime() {
    return 5 + Math.floor(Math.random() * 10);
  }

  function send() {
    let cnt = 0;

    function sendData() {
      const data = JSON.parse(lc.getItem(lcName) || '[]');
      const info = data.pop();
      if (info) {
        logMethod[info.method](info.logUrl, info);
      }
      lc.setItem(lcName, JSON.stringify(data));
      cnt++;

      if (cnt >= 4) {
        setTimeout(send, getRandTime());
      } else {
        setTimeout(sendData, 800);
      }
    }

    setTimeout(sendData, 800);
  }

  setTimeout(send, getRandTime());

})(window);
