(function (window, undefined) {
  // defines
  const logMethod = {
    xhr: sendXhr,
    img: sendImg,
    beacon: sendBeacon,
  };

  const cache = {};
  const lcName = '${lcName || '__newleaf_log_cache__'}';
  const lc = window.localStorage || {
    setItem: function (name, val) {
      cache[name] = val;
    },
    getItem: function (name) {
      return cache[name];
    },
    removeItem: function () {
      delete cache[name];
    }
  };

  // events

  // body
  function Newleaf() {
    this.appId = '${appId}';
    this.logUrl = '${logUrl}';
    if (navigator.sendBeacon) {
      this.method = 'beacon';
    } else {
      this.method = 'img';
    }
  }

  Newleaf.prototype.log = function ({ type = 'log', content = '', method, logUrl, appId }) {
    // 有内容才发送
    if (content) {
      logMethod[method || this.method](logUrl || this.logUrl, {
        appId: appId || this.appId,
        content,
        type
      });
    }
  };

  if (window.newleaf) {
    throw new Error('variable name \`newleaf\` has existed');
  } else {
    window.newleaf = new Newleaf();
  }

  // utils
  function save(info) {
    lc.setItem(lcName, JSON.stringify(info));
  }

  function sendBeacon(url, data) {
    navigator.sendBeacon(url, new URLSearchParams(data).toString());
  }

  function sendXhr(url, data) {
    const xhr = new XMLHttpRequest();
    xhr.open('POST', url);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify(data));
  }

  function sendImg(url, data) {
    const img = new Image();
    img.src = \`\${url}?\${new URLSearchParams(data).toString()}\`
  }

})(window);
