.page-container {
  overflow: hidden;
  min-width: 1280px;
  min-height: 768px;

  .menu-container {
    float: left;
    width: 200px;
    background-color: #001529;
    min-height: 768px;
    --menu-color: white;
    --menu-bgColor: #001529;

    .title {
      font-size: 28px;
      line-height: 28px;
      font-weight: 600;
      text-align: center;
      color: white;
      padding: 12px 0;
    }
  }

  .page-content {
    margin-left: 200px;
    background-color: white;
    min-height: 768px;
  }

  .page-title {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  }

  .main {
    padding: 20px;
  }
}
