body {
  margin: 0;
}

.pageContainer {
  overflow: hidden;

  .menuContainer {
    float: left;
    width: 200px;
    background-color: aliceblue;
    min-height: 100vh;
  }

  .pageContent {
    margin-left: 200px;

  }
}