body {
  -webkit-font-smoothing: antialiased;

  margin: 0;
  min-width: 1280px;
  min-height: 768px;

  color: #333;
  font-size: 14px;
  line-height: 22px;
  background-color: #f5f5f5;
}

p,
div {
  margin: 0;
}

// hack

.redleaf-rc-form-item-label {
  vertical-align: top;
}

.redleaf-rc-dialog-header {
  margin-bottom: 16px;
}

// 全局

.dialog-side {
  height: 100%;
  overflow: scroll;
}

.dialog-center {
  height: 400px;
  overflow: scroll;
}

.pointer {
  cursor: pointer;
}

.color-primary {
  color: var(--primary1);
}

.color-danger {
  color: var(--danger1);
}

.vertical-align-top {
  vertical-align: top;
}

.vertical-align-middle {
  vertical-align: middle;
}

.bold {
  font-weight: bold;
}

.mt8 {
  margin-top: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.mr8 {
  margin-right: 8px;
}

.ml8 {
  margin-left: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.mr16 {
  margin-right: 16px;
}

.ml16 {
  margin-left: 16px;
}

.block {
  display: block;
}
